body {
  background-color: lightcyan;
}

nav {
  float: right;
}
nav a:hover {
  color: black;
}
a {
  text-decoration: none;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

p {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul {
  color: brown;
}

a {
  color: purple;
}

table {
  width: 50%;
  border: solid;
}

#d1 {
  color: red;
  background-color: blue;
}

#d2 {
  color: white;
  background-color: black;
}

.d3 {
  color: blue;
  background-color: red;
}

#p3 {
  font-family: fantasy;
}

.d4 {
  color: green;
  background-color: yellowgreen;
}

#d1,
.d3 {
  border: solid;
}

.d4,
#d2 {
  border: dashed;
}
